/* ================ 字体 ================ */

/* 正文基准字体 */

body {
  font-family: "Noto Sans SC", sans-serif;
}

/* 输入框字体 */

input, textarea, select {
  font-family: "Noto Sans SC", sans-serif;
}

/* 标题字体 */

div>header>h2 {
  font-family: "Bebas Neue", cursive;
}

/* 头像旁的组织名的字体 */

#title {
  font-family: "Bebas Neue", cursive;
}

/* 正文缩进 */

#main div>p {
  text-align: left;
  text-indent: 2em;
}

/* 弹窗边距、缩进 */

.modal-body>p {
  margin-bottom: 0;
  text-indent: 1em;
}

/* ================ 颜色 ================ */

/* -------- 左侧栏 -------- */

/* 背景色 */

#header {
  background: #032859 url("images/overlay.png");
}

/* 下方媒体标志色 */

#header .icons a {
  color: #a7d5f2;
}

/* 没有选中的选项的文字颜色 */

#nav ul li a {
  color: #DDE3E9;
}

/* 选中的选项的文字颜色 */

#nav ul li a.active {
  color: #fff
}

/* 没有选中的选项的图标颜色 */

#nav ul li a span:before {
  color: #C0C6C9;
}

/* 选中的选项的图标颜色 */

#nav ul li a.active span:before {
  color: #a7d5f2;
}

/* -------- 按钮 -------- */

/* 按钮颜色 */

input[type="button"], input[type="submit"], input[type="reset"], button, .button {
  background-color: #065484;
}

/* Hover按钮时的颜色 */

input[type="button"]:hover, input[type="submit"]:hover, input[type="reset"]:hover, button:hover, .button:hover {
  background-color: #079BF7;
}

/* 点击按钮时的颜色 */

input[type="button"]:active, input[type="submit"]:active, input[type="reset"]:active, button:active, .button:active {
  background-color: #37617A;
}

/* -------- 内容板块 -------- */

/* 第一部分背景色 */

#main>section.one {
  background-color: #F6F7FA;
}

/* 第二部分背景色 */

#main>section.two {
  background-color: #f5fafa;
}

/* 第三部分背景色 */

#main>section.three {
  background-color: #f1f6f5;
}

/* 第四部分背景色 */

#main>section.four {
  background-color: #ecf1f1;
}

/* 第五部分背景色 */

#main>section.five {
  background-color: #e8edec;
}

/* 正文标题色 */

body {
  color: #3D3D3D;
}

/* 正文内容色 */

h1, h2, h3, h4, h5, h6 {
  color: #1F1F1F;
}

/* 弹窗强调文字 */

.modal-body>p>span {
  color: red;
}

/*  */

.modal-body>img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

.modal-body>p{
  text-align: center;
}

.modal-header>h5{
  text-align: center;
}

/* ================ 广告 ================ */

#ad {
  width: intrinsic;
  height: intrinsic;
  background-color: white;
  position: fixed;
  bottom: 10%;
  right: 0%;
  border: 1px solid #032858;
  border-radius: 5px;
  z-index: 3;
}

#ad-upper {
  height: 50%;
}

#ad-close {
  position: absolute;
  top: 2%;
  right: 3%;
  width: 20px;
  height: 20px;
}

#ad-pic {
  width: 100%;
  border-radius: 5px;
}

#ad-middle {
  height: 40%;
  margin: 1px;
  border: 5px;
}

#ad-text {
  font-size: 90%;
  text-align: center;
  color: #032858;
  margin: 5px;
  font-family: 'Josefin Sans', sans-serif;
}

#ad-lower {
  height: 10%;
  text-align: center;
}

#ad-btn {
  margin: 5px;
  padding: 0.1em 2.5em 0.1em 2.5em;
  font-size: 50%;
}


/* ================ 视频背景 ================ */
/* <div id="Container"> */
    /* <video></video> */
    /* <div></div> */
/* </div> */

body, html {
    height: 100%;
}

#video_bg {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

#video_bg video {
    position: absolute;
    left: 50%;
    top: 50%;
    /* The following will size the video to fit the full container. Not necessary, just nice.*/
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    z-index: 0;
}



#video_bg div {
    position: relative;
    z-index: 1;
}